<link rel="stylesheet" href="/public/css/base/base.css">
<link rel="stylesheet" href="/public/css/cadastro/style.css">

{{>_msg}}

<div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="wrapper">
        <h1>Bem vindo ao Caça Talentos!</h1>
        <img id="logo" src="/statics/img/logo.png" alt="Logo do Caça Talentos">

        <div class="title-text">
            <div class="title login">Faça seu login</div>
            <div class="title signup">Faça seu cadastro</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="login" checked>
                <input type="radio" name="slider" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Cadastro</label>
                <div class="slide-tab"></div>
            </div>
            <div class="form-inner">
                <!--obs: action contem o nome da prox pag quando cliclar em login -->
                <form action="/perfil" method="post" class="login">
                    <div class="field">
                        <input type="email" name="login_email" id="email" placeholder="Insira seu email" required>
                    </div>
                    <div class="field">
                        <input type="password" name="login_senha" id="senha" placeholder="Insira sua senha" required>
                    </div>
                    <div class="pass-link"><a href="#">Esqueceu a senha?</a></div>
                    <div class="field">
                        <input type="submit" value="Entrar">
                    </div>
                    <div class="signup-link">Não é cadastrado? <a href="#">Faça Cadastro agora</a></div>
                </form>
                <form action="/" method="post" class="signup">
                    <div class="field">
                        <input name="email_usuario" id="email_usuario" type="email" placeholder="Insira seu email"
                            required>
                    </div>
                    <div class="field">
                        <input name="senha_usuario" id="senha_usuario" type="password" placeholder="Insira sua senha"
                            minlength="3" maxlength="10" required>
                    </div>
                    <div class="field">
                        <input name="confsenha_usuario" id="confsenha_usuario" type="password"
                            placeholder="Confirme sua senha" minlength="3" maxlength="10" required>
                    </div>
                    <div class="field">
                        <select name="select" id="select">
                            <option  value="pessoa">Sou modelo</option>
                            <option  value="empresa">Sou empresa</option>
                        </select>
                    </div>
                    <div class="field">
                        <input type="submit" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/statics/script.js"></script>