   <link rel="stylesheet" href="/public/css/base/base.css">
   <link rel="stylesheet" href="/public/css/langePage/base.css">
   <script src="/public/js/app.js"></script>

   <header class="cabecalho">
      <nav class="menu back-to-top">
         <div class="menu-container">
            <div>
               <img src="/public/img/logo.svg" alt="Logo do Caça Talentos" class="cabecalho__logo menu-brand">
            </div>
            <ul class="menu-items">
               <li><a href="#quemSomos">Quem Somos?</a> / </li>
               <li><a href="#objetivo">Nosso Objetivo</a> / </li>
               <li><a href="#cadastrar">Quero me cadastrar!</a> / </li>
               <li><a href="#equipe">Nossa Equipe</a></li>
            </ul>
         </div>
      </nav>
   </header>

   <main>
      <section id="apresentacao">
         <div class="container box__apresentacao">
            <div class="box__apresentacao--texto">
               <h2 class="titulo titulo--apresentacao">Sua rede social com as
                  <span class="titulo--destaque">melhores oportunidades</span>
               </h2>
               <p class="apresentacao__texto texto">Mostre seu talento e conquiste seu sonho! </p>
               <p class="apresentacao__texto texto">Encontre aqui uma vasta seleção de modelos e empresas do mercado
                  fashionista, para facilitar o seu dia a dia. </p>
               <p class="apresentacao__texto texto">Acesse nosso instagram para conferir nossos pots! </p>
               <a class="apresentacao__botao" href="#">Acessar o instagram!</a>
            </div>
            <img src="/public/img/langePage/image 3.png" alt="Foto modelo" class="apresentacao__imagem">
         </div>
      </section>
      <section id="objetivo" class="container como-conseguir">
      </section>
      <section id="cadastrar" class="container ofertas">
      </section>
      <section id="equipe" class="container">
      </section>
   </main>

   <footer class="container rodape">
      <ul class="rodape-items">
         <li><a href="#apresentacao">Apresentação</a></li>
         <li><a href="#quemSomos">Quem somos</a></li>
         <li><img src="/public/img/logo.svg" alt="Logo do Caça Talentos" class="cabecalho__logo menu-brand"></li>
         <li><a href="#objetivo">Nosso Objetivo</a></li>
         <li><a href="#cadastrar">Quero Participar</a></li>
      </ul>
   </footer>
