<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/base/base.css">
    <link rel="stylesheet" href="/public/css/pagEmpresa/base.css">
    <title>Caça Talentos | Perfil Empresa</title>
</head>

<body>

    <header class="cabecalho">
        <button class="cabecalho__menu" aria-label="Menu"><img src="/public/img/icones/menu.png"
                alt="Ícone do Menu"></button>
        <img src="/public/img/logo.svg" alt="Logo do Caça Talentos" class="cabecalho__logo">
        <p class="cabecalho__perfil" id="nomePessoa">Nome da Pessoa</p>
        <button class="cabecalho__notificacao" aria-label="Notificação"><img src="/public/img/icones/sino.png"
                alt="Sino de notificação"></button>
    </header>
    <nav class="menu-lateral">
        <img src="/public/img/logo.svg" alt="Logo da Caça Talentos" class="menu-lateral__logo">
        <a href="pagInicial.html" class="menu-lateral__link menu-lateral__link--inicio">Início</a>
        <a href="pagPerfil.html" class="menu-lateral__link menu-lateral__link--perfil">Perfil</a>
        <a href="pagEmpresa.html"
            class="menu-lateral__link menu-lateral__link--empresa menu-lateral__link--ativo">Empresa</a>
        <a href="pagChat.html" class="menu-lateral__link menu-lateral__link--chat">Chat</a>
        <a href="index.html" target="_blank" class="menu-lateral__link menu-lateral__link--caca">Sobre nós</a>
    </nav>

    <main class="principal">
        <h2 class="titulo-pagina">Página do Perfil Empresa</h2>

        <article class="box box--destaque box__perfil">
            <div class="box__perfil--conteudo">
                <img src="/public/img/icones/user.png" alt="Foto da Empresa" class="box__imagem">
                <h1 class="principal--nome">Nome da Empresa</h1>
                <button class="principal--botao">Editar informações<img src="/public/img/icones/editar.png"></button>
                <hr>
                <div class="principal--flex">
                    <h2 class="endereco--cidade">Belo Horizonte </h2>
                    <span class="barra"> - </span>
                    <h2 class="endereco--estado">MG</h2>
                </div>
                <div class="principal--flex2">
                    <h2 class="endereco--rua">Rua Sapucaí</h2>
                    <span>, </span>
                    <h2 class="endereco--num">n° 35</h2>
                </div>
                <h2 class="principal--cnpj">CNPJ</h2>
                <div class="principal--info">
                    <h2 class="info--sobre">Sobre a empresa</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>


        </article>



    </main>


    <script src="/public/js/index.js"></script>
</body>

</html>