<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/base/base.css">
    <link rel="stylesheet" href="/public/css/pagPerfil/base.css">
    <title>Caça Talentos | Perfil</title>
</head>

<body>

    <header class="cabecalho">
        <button class="cabecalho__menu" aria-label="Menu"><img src="/public/img/icones/menu.png"
                alt="Ícone do Menu"></button>
        <img src="/public/img/logo.svg" alt="Logo do Caça Talentos" class="cabecalho__logo">
        <p class="cabecalho__perfil" id="nomePessoa">Nome da Pessoa</p>
        <button class="cabecalho__notificacao" aria-label="Notificação"><img src="/public/img/icones/sino.png"
                alt="Sino de notificação"></button>
    </header>
    <nav class="menu-lateral">
        <img src="/public/img/logo.svg" alt="Logo da Caça Talentos" class="menu-lateral__logo">
        <a href="pagInicial.html" class="menu-lateral__link menu-lateral__link--inicio">Início</a>
        <a href="pagPerfil.html"
            class="menu-lateral__link menu-lateral__link--perfil menu-lateral__link--ativo">Perfil</a>
        <a href="pagEmpresa.html" class="menu-lateral__link menu-lateral__link--empresa">Empresa</a>
        <a href="pagChat.html" class="menu-lateral__link menu-lateral__link--chat">Chat</a>
        <a href="index.html" target="_blank" class="menu-lateral__link menu-lateral__link--caca">Sobre nós</a>
    </nav>

    <main class="principal">
        <h2 class="titulo-pagina">Página do Perfil</h2>

        <article class="box box--destaque box__perfil">
            <div class="box__perfil--conteudo">
                <img src="/public/img/icones/user.png" alt="Foto da Pessoa" class="box__imagem">
                <h1 class="principal--nome">Nome da Pessoa</h1>
                <button class="principal--botao">Editar perfil <img src="/public/img/icones/editar.png"></button>
                <hr>
                <h2 class="principal--idade">18 anos</h2>
                <div class="principal--flex">
                    <h2 class="endereco--cidade">Belo Horizonte </h2>
                    <span class="barra"> - </span>
                    <h2 class="endereco--estado">MG</h2>
                </div>
                <h2 class="principal--genero">Feminino</h2>
                <div class="principal--flex2">
                    <h2 class="principal--peso">65Kg</h2>
                    <h2 class="principal--altura">1,67m</h2>
                </div>
                <h2 class="principal--link"><a href="#">Link para meu Portfólio</a></h2>
            </div>


        </article>



    </main>


    <script src="/public/js/index.js"></script>
</body>

</html>